<app-header title="Playground">
  <a class="text-sm font-medium flex items-center leading-6 cursor-pointer text-green-700 hover:text-green-800">
    Learn about the Assistants API
    <mat-icon class="scale-[60%]" svgIcon="link"/>
  </a>
</app-header>
<div #thread (mousemove)="resize($event)" (mouseup)="finishResizing()" [class.cursor-ew-resize]="this.isResizing()"
     class="flex grow w-full text-gray-900">
  <div [style.flex-grow]="leftContainerSize()"
       class="flex flex-col h-full items-center justify-center shrink gap-4 overflow-hidden basis-0"
  >
    @if (isLoading()) {
      <div class="flex flex-col gap-5 w-full h-full py-2.5 px-6">
        <app-skeleton-loader class="w-full h-8"/>
        <app-skeleton-loader class="w-full grow"/>
        <app-skeleton-loader class="w-full h-8"/>
        <app-skeleton-loader class="w-full grow"/>
      </div>
    } @else {
      <div class="bg-gray-100 text-gray-600 h-10 w-10 flex items-center justify-center rounded-lg">
        <mat-icon svgIcon="robot"/>
      </div>
      <div class="flex flex-col gap-1.5 items-center">
        <div class="h-5 font-medium">Create an assistant</div>
        <div class="text-sm h-5 flex items-start gap-1">
          <span>to get started with</span>
          <a class="h-5 font-medium flex items-end cursor-pointer text-green-700 hover:text-green-800">
            the Assistants API
            <mat-icon class="scale-[60%]" svgIcon="link"/>
          </a>
        </div>
      </div>
      <app-button color="primary" size="md">
        <mat-icon class="scale-75" fontIcon="add"/>
        Create
      </app-button>
    }
  </div>
  <div (mousedown)="initResizing()"
       class="flex cursor-ew-resize w-5 h-full overflow-hidden touch-none select-none z-10 group"
  >
    <div class="w-[0.5px] h-full bg-gray-200 group-hover:bg-gray-300"></div>
  </div>
  <div [style.flex-grow]="rightContainerSize()"
       class="flex flex-col shrink gap-4 basis-0 -ml-5 h-full">
    <div class="px-6 flex justify-between items-center py-3.5 w-full">
      <span class="text-xs font-medium">THREAD</span>
      <div class="flex justify-end items-center gap-2">
        <app-button color="neutral" size="sm">
          <mat-icon class="scale-75" svgIcon="clean"/>
          <span>Clear</span>
        </app-button>
        <app-button color="neutral" size="sm">
          <span>Logs</span>
          <mat-icon class="scale-75" svgIcon="logs"/>
        </app-button>
      </div>
    </div>
    <div class="flex items-center grow px-6 pt-1.5 pb-5 w-full">
    </div>
    <div class="flex flex-col gap-3 px-6 pb-3 w-full">
      <div class="border p-6 rounded-lg bg-white transition-all flex flex-col gap-4">
        <app-text-area placeholder="Enter your message..."></app-text-area>
        <div class="flex items-center justify-between">
          <app-button color="neutral" size="sm">
            <mat-icon class="scale-75" svgIcon="attach-file"/>
          </app-button>
          <div class="flex gap-2 items-center">
            <app-button color="neutral" disabled size="sm">
              <mat-icon class="scale-75" fontIcon="add"/>
            </app-button>
            <app-button color="neutral" disabled size="sm">
              <mat-icon class="scale-75" svgIcon="run"/>
              <span>Run</span>
            </app-button>
          </div>
        </div>
      </div>
      <div class="text-sm flex justify-center items-center w-full text-gray-500">Playground messages can be viewed by
        anyone at your organization using the API.
      </div>
    </div>
  </div>
</div>
