<app-header title="API keys"/>
<div class="flex flex-col max-w-screen-md p-6 gap-8">
  <div class="flex flex-col gap-4">
    <p>
      Your secret API keys are listed below. Please note that we do not display your secret API keys again after you
      generate them.
    </p>
    <p>
      Do not share your API key with others, or expose it in the browser or other client-side code. In order to protect
      the security of your account, OpenAI may also automatically disable any API key that we've found has leaked
      publicly.
    </p>
    <table [dataSource]="datasource()" cdk-table class="border-collapse">
      <ng-container cdkColumnDef="name">
        <th *cdkHeaderCellDef cdk-header-cell class="flex-1 pr-2 py-1.5  flex justify-start"> NAME</th>
        <td *cdkCellDef="let element" cdk-cell class="flex-1 py-2 pr-2  flex justify-start"> {{ element.name }}</td>
      </ng-container>

      <ng-container cdkColumnDef="key">
        <th *cdkHeaderCellDef cdk-header-cell class="flex-1 px-2 py-1.5  flex justify-start"> KEY</th>
        <td *cdkCellDef="let element" cdk-cell class="flex-1 p-2  flex justify-start"> {{ element.key }}</td>
      </ng-container>

      <ng-container cdkColumnDef="createdAt">
        <th *cdkHeaderCellDef cdk-header-cell class="flex-1 px-2 py-1.5  flex justify-start"> CREATED</th>
        <td *cdkCellDef="let element" cdk-cell
            class="flex-1 p-2  flex justify-start"> {{ element.createdAt | date:'mediumDate' }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="lastUsedAt">
        <th *cdkHeaderCellDef cdk-header-cell class="flex-1 px-2 py-1.5  flex justify-start"> LAST USED</th>
        <td *cdkCellDef="let element" cdk-cell
            class="flex-1 p-2  flex justify-start"> {{ element.lastUsedAt | date:'mediumDate' }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="action">
        <th *cdkHeaderCellDef cdk-header-cell class="flex-1 pl-2 py-1.5  flex justify-start"></th>
        <td *cdkCellDef="let element" cdk-cell class="flex-1 py-2 pl-2 flex gap-2 justify-start">
          <app-button-icon svgIcon="edit-square"/>
          <app-button-icon disabled svgIcon="bin"/>
        </td>
      </ng-container>

      <tr *cdkHeaderRowDef="displayedColumns" cdk-header-row
          class="flex text-xs whitespace-nowrap font-bold border-b"></tr>
      <tr *cdkRowDef="let row; columns: displayedColumns;" cdk-row class="flex text-gray-600"></tr>
      <tr *cdkNoDataRow class="flex text-gray-600">
        @if (isLoading()) {
          @for (column of displayedColumns;track column;let first = $first;let last=$last) {
            @if (!last) {
              <td class="flex-1 py-2"
                  [class.px-2]="!first"
                  [class.pr-2]="first">
                <app-skeleton-loader class="w-full h-6"/>
              </td>
            } @else {
              <td class="flex-1"></td>
            }
          }
        }
      </tr>
    </table>

    <app-button color="neutral" size="sm">
      <app-icon svgIcon="add"/>
      Create new secret key
    </app-button>
  </div>
  <div class="flex flex-col gap-4">
    <h3 class="font-bold text-xl">Default organization</h3>
    <div>If you belong to multiple organizations, this setting controls which organization is used by default when
      making requests with the API keys above.
    </div>
    <div>
      <app-select-dropdown class="w-52"/>
    </div>
    <div class="text-xs">Note: You can also specify which organization to use for each API request. See
      <a class="font-medium cursor-pointer text-green-600 hover:text-green-700">
        Authentication
      </a>
      to learn more.
    </div>
  </div>
</div>
