<app-label
  [description]='description'
  [label]='label'
  [required]='required'
>
  <div class='w-full relative'>
    <input
      (blur)='onTouched($event)'
      [class.hidden]='isLoading'
      [class.pl-10]='icon'
      [formControl]='form'
      [placeholder]='placeholder'
      [type]='type'
      class='h-10 w-full outline-0 placeholder:text-gray-500 border border-gray-500 rounded p-2 hover:border-gray-600 focus:border-blue-500 focus:bg-gray-100'
    />
    @if (icon) {
      <div class='absolute top-0 left-2 h-full flex items-center'
           [class.hidden]='isLoading'>
        <mat-icon [fontIcon]='icon ?? ""'/>
      </div>
    }
    @if (isLoading) {
      <app-skeleton-loader class="h-8 w-full"/>
    }
  </div>
</app-label>
