<app-label
  [description]='description'
  [label]='label'
  [required]='required'
>
  <div class='w-full relative'>
    <input
      (blur)='onTouched($event)'
      [class.bg-gray-50]="disabled()"
      [class.hidden]='isLoading'
      [class.pl-10]='icon'
      [class.text-gray-400]="disabled()"
      [formControl]='form'
      [placeholder]='placeholder'
      [type]='type'
      class='w-[340px] text-sm py-1.5 px-3 outline-0 placeholder:text-gray-500 border border-gray-300 rounded-lg p-2 focus:shadow-input focus:border-green-700'
    />
    @if (icon) {
      <div class='absolute top-0 left-2 h-full flex items-center z-10'
           [class.hidden]='isLoading'>
        <app-icon [svgIcon]='icon'/>
      </div>
    }
    @if (isLoading) {
      <app-skeleton-loader class="h-8 w-full"/>
    }
  </div>
</app-label>
