<div [class.border-gray-400]="!isInputEnabled()"
     [class.border-green-700]="isInputEnabled()"
     class="h-9 flex items-center pl-3 pr-1 group justify-between group border rounded-lg w-full relative"
>
  <div class="grid text-sm relative grow">
    <div class="flex overflow-hidden overflow-ellipsis">{{ value }}</div>
  </div>
  <input [class.opacity-0]="!isInputEnabled()"
         [formControl]='form'
         [matAutocomplete]="auto"
         class="w-full pl-3 absolute h-full top-0 left-0 outline-0 group-focus:opacity-0 pr-12"
  >
  <mat-autocomplete #auto="matAutocomplete">
    @for (option of options;track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
    }
  </mat-autocomplete>
  <mat-icon class="scale-75 group-hover:text-gray-500 text-gray-400" svgIcon="dropdown"/>
</div>

