<div class='h-9 flex items-center overflow-hidden'>
  @for (button of buttons;track button;let last=$last;let first=$first;let index=$index) {
    <button
      [class.text-base]="size === 'md'"
      [class.text-sm]="size === 'sm'"
      [class.text-green-700]="color === 'primary' && button !== buttons[activeIndex()]"
      [class.text-white]="color === 'primary' && button == buttons[activeIndex()]"
      [class.bg-green-700]="color === 'primary' && button == buttons[activeIndex()]"
      [class.hover:bg-green-800]="color === 'primary' && button == buttons[activeIndex()]"
      [class.active:bg-green-900]="color === 'primary' && button == buttons[activeIndex()]"
      [class.hover:bg-green-100]="color === 'primary' && button !== buttons[activeIndex()]"
      [class.active:bg-green-200]="color === 'primary' && button !== buttons[activeIndex()]"
      [class.border-green-700]="color === 'primary'"
      [class.text-gray-700]="color === 'neutral' && button !== buttons[activeIndex()]"
      [class.bg-gray-200]="color === 'neutral' && button == buttons[activeIndex()]"
      [class.hover:bg-gray-300]="color === 'neutral' && button !== buttons[activeIndex()]"
      [class.active:bg-gray-400]="color === 'neutral' && button !== buttons[activeIndex()]"
      [class.border-gray-200]="color === 'neutral'"
      [class.border-l]="first"
      [class.rounded-l-lg]="first"
      [class.rounded-r-lg]="last"
      (click)="changeIndex(index)"
      class="py-1.5 px-3 font-medium transition-colors border-t border-r border-b">
  <span
    [class.h-5]="size === 'sm'"
    [class.h-6]="size === 'md'"
    class="flex items-center whitespace-nowrap w-100 mb-px gap-1">{{ button.text }}</span>
    </button>
  }
</div>
