<app-label
  [description]="description"
  [label]="label"
  [required]="required"
>
  <div class="inline-block">
    <div class="relative inline-block">
      <input
        (click)="picker.open()"
        [class.border-gray-400]="disabled()"
        [class.text-gray-400]="disabled()"
        [formControl]="form"
        [matDatepicker]="picker"
        [placeholder]="placeholder"
        class="w-44 outline-0 placeholder:text-gray-500 border border-gray-500 rounded p-2 pl-4 pr-9 hover:border-gray-600 placeholder:text-ellipsis focus:border-blue-500 focus:bg-gray-100"
        readonly
      />
      <app-button-icon
        (click)="picker.open()"
        [disabled]="disabled()"
        class="absolute right-1 top-2"
        svgIcon="calendar"
      ></app-button-icon>
      <mat-datepicker #picker></mat-datepicker>
    </div>
  </div>
</app-label>
