<button
  [class.active:bg-green-200]="!disabled"
  [class.active:shadow-green]="!disabled"
  [class.bg-gray-50]="disabled"
  [class.hover:bg-green-100]="!disabled"
  [class.text-gray-400]="disabled"
  [class.text-green-700]="!disabled"
  [disabled]="disabled"
  class="py-[3px] px-[5px] -ml-[5px] -my-[3px] rounded-lg font-medium transition-colors relative text-sm">
  <span
    [class.h-5]="size === 'sm'"
    [class.h-7]="size === 'md'"
    [class.opacity-0]="isLoading"
    class="flex items-center whitespace-nowrap w-100 mb-px gap-1"><ng-content/></span>
  @if (isLoading) {
    <span class="absolute left-0 top-0 w-full h-full flex justify-center items-center">
      <app-spinner size="sm"/>
    </span>
  }
</button>
