<div class="p-6 flex flex-col gap-6">
  <div>
    <app-input-text [formControl]="formLabel" description="Enter a label to display it" label="Label"/>
    <app-input-text [formControl]="formDescription" description="Enter a description to display it"
                    label="Description"/>
    <app-input-checkbox [formControl]="formDisabled">Disable the inputs</app-input-checkbox>
  </div>
  <div class="flex gap-4">
    <div class="w-36">Input text</div>
    <div class="flex  flex-col gap-4">
      <app-input-text [description]="formDescription.value" [formControl]="formText" [label]="formLabel.value"
      />
    </div>
  </div>
  <div class="flex gap-4">
    <div class="w-36">Input Checkbox</div>
    <div class="flex flex-col gap-4">
      <app-input-checkbox [formControl]="formCheckbox">{{ formLabel.value }}
      </app-input-checkbox>
    </div>
  </div>
  <div class="flex gap-4">
    <div class="w-36">Input Date</div>
    <div class="flex flex-col gap-4">
      <app-input-date [description]="formDescription.value" [formControl]="formDate" [label]="formLabel.value"
      />
    </div>
  </div>
  <div class="flex gap-4">
    <div class="w-36">Input Date</div>
    <div class="flex flex-col gap-4">
      <app-input-multi-select [formControl]="formMultiSelect" [options]="multiSelectOptions" type="File"
      />
    </div>
  </div>
</div>
