<app-header title="Organization">
</app-header>
<div class="flex flex-col gap-6 p-6 max-w-screen-md">
  <div class="flex flex-col gap-4">
    <app-input-text [formControl]="organizationNameForm"
                    description="Human-friendly label for your organization, shown in user interfaces"
                    label="Organization name"/>
    <app-input-text [formControl]="organizationIdForm"
                    description="Identifier for this organization sometimes used in API requests"
                    label="Organization ID"/>
  </div>
  <app-button color="primary" size="sm">Save</app-button>
</div>
